/bootstrap/cache
/resources/stub-public/uploads
/resources/stub-public/node-core
/resources/neo_big_data
/public_html/uploads
/_ide_helper_models.php
/.idea
/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
.rocketeer
/.ide_helper.php
/.phpstorm.meta.php
public
/storage/framework/views
.gitmodules
/volumes
/nbproject/private/
/resources/stub-public/robots.txt
docker-compose.yml
/.docker